In [3]:
import pandas as pd
import numpy as np
import requests

In [22]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
header = {
    "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
    "X-Requested-With": "XMLHttpRequest"
}

req = requests.get(url,headers=header)
tab = pd.read_html(req.text)
df_tor = pd.DataFrame(tab[0])

df_tor.columns = ['PostalCode','Borough','Neighborhood']

df_tor.reset_index(drop=True,inplace = True)
df_tor.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

In [23]:
df_assigned = df_tor[df_tor.Borough != 'Not assigned'].reset_index(drop=True)
df_assigned.head()
#df_final  =df_tor.groupby("PostalCode").agg(lambda x:','.join(set(x)))

#df_final.loc[df_final['Neighborhood']=="Not assigned",'Neighborhood']=df_final.loc[df_final['Neighborhood']=="Not assigned",'Borough']

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M6A        North York  Lawrence Heights
4        M6A        North York    Lawrence Manor

In [24]:
df_group = df_assigned.groupby(['PostalCode','Borough'], as_index=False).agg(lambda x: ','.join(x))
df_group.head()

  PostalCode      Borough                          Neighborhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough       Guildwood,Morningside,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

In [27]:
not_assign = df_group.Neighborhood == 'Not assigned'
df_group.loc[not_assign, 'Neighborhood'] = df_group.loc[not_assign, 'Borough']

In [28]:
df_tor_cleaned = df_group
df_tor_cleaned.shape

(103, 3)

## The second part of the project begins here
### GEOCODER PACKAGE

In [7]:
!wget -q -O "toronto.csv" http://cocl.us/Geospatial_data

In [8]:
geo_cor = pd.read_csv('toronto.csv')

In [29]:
geo_cor.shape
geo_cor.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [33]:
df_tor_index = df_tor_cleaned.set_index('PostalCode')
geo_tmp = geo_cor.set_index('Postal Code')
df_toronto_comb = pd.concat([df_tor_index,geo_tmp],axis=1,join='inner')

df_toronto_comb.index.name = 'PostalCode'
df_toronto_comb.reset_index(inplace=True)

df_toronto_comb.shape

(103, 5)

In [35]:
df_toronto_comb

    PostalCode           Borough      Neighborhood   Latitude  Longitude
0          M1B       Scarborough       Scarborough  43.806686 -79.194353
1          M1C       Scarborough       Scarborough  43.784535 -79.160497
2          M1E       Scarborough       Scarborough  43.763573 -79.188711
3          M1G       Scarborough       Scarborough  43.770992 -79.216917
4          M1H       Scarborough       Scarborough  43.773136 -79.239476
5          M1J       Scarborough       Scarborough  43.744734 -79.239476
6          M1K       Scarborough       Scarborough  43.727929 -79.262029
7          M1L       Scarborough       Scarborough  43.711112 -79.284577
8          M1M       Scarborough       Scarborough  43.716316 -79.239476
9          M1N       Scarborough       Scarborough  43.692657 -79.264848
10         M1P       Scarborough       Scarborough  43.757410 -79.273304
11         M1R       Scarborough       Scarborough  43.750072 -79.295849
12         M1S       Scarborough       Scarborough  43.794200 -79.262029
13         M1T       Scarborough       Scarborough  43.781638 -79.304302
14         M1V       Scarborough       Scarborough  43.815252 -79.284577
15         M1W       Scarborough       Scarborough  43.799525 -79.318389
16         M1X       Scarborough       Scarborough  43.836125 -79.205636
17         M2H        North York        North York  43.803762 -79.363452
18         M2J        North York        North York  43.778517 -79.346556
19         M2K        North York        North York  43.786947 -79.385975
20         M2L        North York        North York  43.757490 -79.374714
21         M2M        North York        North York  43.789053 -79.408493
22         M2N        North York        North York  43.770120 -79.408493
23         M2P        North York        North York  43.752758 -79.400049
24         M2R        North York        North York  43.782736 -79.442259
25         M3A        North York        North York  43.753259 -79.329656
26         M3B        North York        North York  43.745906 -79.352188
27         M3C        North York        North York  43.725900 -79.340923
28         M3H        North York        North York  43.754328 -79.442259
29         M3J        North York        North York  43.767980 -79.487262
..         ...               ...               ...        ...        ...
73         M6C              York              York  43.693781 -79.428191
74         M6E              York              York  43.689026 -79.453512
75         M6G  Downtown Toronto  Downtown Toronto  43.669542 -79.422564
76         M6H      West Toronto      West Toronto  43.669005 -79.442259
77         M6J      West Toronto      West Toronto  43.647927 -79.419750
78         M6K      West Toronto      West Toronto  43.636847 -79.428191
79         M6L        North York        North York  43.713756 -79.490074
80         M6M              York              York  43.691116 -79.476013
81         M6N              York              York  43.673185 -79.487262
82         M6P      West Toronto      West Toronto  43.661608 -79.464763
83         M6R      West Toronto      West Toronto  43.648960 -79.456325
84         M6S      West Toronto      West Toronto  43.651571 -79.484450
85         M7A  Downtown Toronto  Downtown Toronto  43.662301 -79.389494
86         M7R       Mississauga       Mississauga  43.636966 -79.615819
87         M7Y      East Toronto      East Toronto  43.662744 -79.321558
88         M8V         Etobicoke         Etobicoke  43.605647 -79.501321
89         M8W         Etobicoke         Etobicoke  43.602414 -79.543484
90         M8X         Etobicoke         Etobicoke  43.653654 -79.506944
91         M8Y         Etobicoke         Etobicoke  43.636258 -79.498509
92         M8Z         Etobicoke         Etobicoke  43.628841 -79.520999
93         M9A      Queen's Park      Queen's Park  43.667856 -79.532242
94         M9B         Etobicoke         Etobicoke  43.650943 -79.554724
95         M9C         Etobicoke         Etobicoke  43.643515 -79.577201
96         M9L        North York        North York  43.756303 -79.565963
97         M9M        North York        North York  43.724766 -79.532242
98         M9N              York              York  43.706876 -79.518188
99         M9P         Etobicoke         Etobicoke  43.696319 -79.532242
100        M9R         Etobicoke         Etobicoke  43.688905 -79.554724
101        M9V         Etobicoke         Etobicoke  43.739416 -79.588437
102        M9W         Etobicoke         Etobicoke  43.706748 -79.594054

[103 rows x 5 columns]